.big-button {
    width: 65%;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    font-size: $md-size !important;
    border-bottom: $xs-size solid darken($color: $blue, $amount: 20%);
    margin-bottom: $normal-size;
}

.big-button:disabled{
    opacity: .5;
}

.medium-button{
    background: $blue;
    border:  none;
    padding: $sm-size;
    color:white;
    font-weight: 500;
}

.medium-button--link{
    padding: $xs-size;
    font-weight: 100;
    background: none;

}


@media (min-width: 976px){
    .big-button{
         margin-bottom: $lg-size;
    } 

 }