.form{
    padding-top: $normal-size ;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
}

.form__text{
    flex: 1 0 auto;
   
    padding: $sm-size $normal-size;
    margin: $sm-size 0;
}

.form__warning{
    color: white;
    font-weight: 700;
    padding: $normal-size;
    text-transform: uppercase;
}


@media (min-width: 976px){
   .form {
       flex-direction: row;
   } 

   .form__text{
    padding: 0 $normal-size;
 
  

}
}