.header{
    text-align: center;
    background: $brightTurquoise;
    padding: $normal-size;
    color: white;
    margin-bottom: $normal-size;
   
}

// Bem => block element modifier

.header__title{
    font-size: $md-size;
    margin: $sm-size 0;
    letter-spacing: $xs-size;
    text-transform: uppercase;
    font-weight: 700;
}

.header__sub-title{
    text-transform: uppercase;
    letter-spacing: $xs-size;

}

@media (min-width: 976px){
    .header{
         margin-bottom: $lg-size;
    } 

 }