.content{
  
  background:  $black;
  color: white;
  text-align: center;
  padding: $normal-size;
  word-break: break-all;
}

.ReactModal__Overlay--after-open{
    display: flex;
    justify-content: center;
    align-items: center;

    
}